extends layout

block content
  .container
    if error
      .alert.alert-danger
        strong Error
        span &nbsp;&nbsp;
        span= error
    h1= title
    form.col-lg-6#runs-form(method="POST", action="create-run")
      .form-group.row.name
        label.col-sm-3 Name
        .col-sm-3
          input.form-control#first-name(type='text', name='firstName')
        .col-sm-3
          input.form-control#last-name(type='text', name='lastName')
      
      .form-group.row.category
        label.col-sm-3  Kategorie
        .col-sm-6
          select.form-control#category(name='category')
            options
              option(value="1") Piccolo (3-6)
              option(value="2") Kat I (7-8)
              option(value="3") Kat II (9-10)
              option(value="4") Kat III (9-10)
      hr
      .form-group.row.stage
        label.col-sm-3  1. Surfboard (min/sec)
        .col-sm-3
          input.form-control#stage-1-run-1(type='number', step="0.1", name='stage1-run1')
        .col-sm-3
          input.form-control#stage-1-run-2(type='number', step="0.1", name='stage1-run2')
      
      .form-group.row.stage
        label.col-sm-3  2. Bowling (p)
        .col-sm-3
          input.form-control#stage-2-run-1(type='number', name='stage2-run1')
        .col-sm-3
          input.form-control#stage-2-run-2(type='number', name='stage2-run2')

      .form-group.row.stage
        label.col-sm-3  3. Parcours (min/sec)
        .col-sm-3
          input.form-control#stage-3-run-1(type='number', step="0.1", name='stage3-run1')
        .col-sm-3
          input.form-control#stage-3-run-2(type='number', step="0.1", name='stage3-run2')

      .form-group.row.stage
        label.col-sm-3  4. Weitwurf (p)
        .col-sm-3
          input.form-control#stage-4-run-1(type='number', name='stage4-run1')
        .col-sm-3
          input.form-control#stage-4-run-2(type='number', name='stage4-run2')

      .form-group.row.stage
        label.col-sm-3  5. Sprint (min/sec)
        .col-sm-3
          input.form-control#stage-5-run-1(type='number', step="0.1", name='stage5-run1')
        .col-sm-3
          input.form-control#stage-5-run-2(type='number', step="0.1", name='stage5-run2')

      .form-group.row.stage
        label.col-sm-3  6. Korbball (min/sec)
        .col-sm-3
          input.form-control#stage-6-run-1(type='number', step="0.1", name='stage6-run1')
        .col-sm-3
          input.form-control#stage-6-run-2(type='number', step="0.1", name='stage6-run2')

      .form-group.row
        .col-lg-12
          a.btn.btn-secondary.float-left(href="/") Cancel
          button.btn.btn-primary.float-right(type="submit") Speichern
